/***************************************************
Purpose:
    - provides the styling for the website
    
***************************************************/

body{
    margin: 0;
    width: 100vw;
    height: 150vh;
    background-color: rgb(49, 39, 39);
}


/*****************************
    Title Formatting
*****************************/
.title{
    position: absolute;
    left: 43vw;
    bottom: 60vh;
    width: auto;
    height: auto;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    color: white;
}

.name{
    position: absolute;
    left: 35vw;
    bottom: 58vh;
    width: auto;
    height: auto;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: white;
}

.subtitle{
    position: absolute;
    left: 43vw;
    bottom: 52vh;
    width: auto;
    height: auto;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    color: white;
}


/*****************************
    Menu Formatting
*****************************/
/* menu bubbles */
.menuBubbles{
    overflow: hidden;
    position: absolute;
    left: 6.5vw;
    bottom: 0vh;
    height: auto;
    width: 90vw;
    z-index: 2;
    align-items: center;
}

.menuBubbles li{
    overflow: hidden;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: .6vw solid;
    border-color: rgb(49, 39, 39);
    height: 14vw;
    width: 14vw;
    margin: 0vh 6vw;
}

.menuBubbles a{
    overflow: hidden;
    padding: 0vh 50vw;
}

/* menu hover effects */
.menuBubbles a :hover{
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

.menu a :hover{
    transition: transform 0.4s ease;
    transform: scale(1.1);
    
}

.bubbleLable{
    /* text formatting */
    overflow: hidden;
    position: absolute;
    bottom: 8.4vw;
    z-index: 3;
    font-weight: bolder;
    color: rgb(49, 39, 39);
}

.bubbleLable.one{
    /* text formatting */
    left: 20.2vw;
}

.bubbleLable.two{
    /* text formatting */
    left: 46.2vw;
}

.bubbleLable.three{
    /* text formatting */
    left: 72.4vw;
}

/*****************************
    Border Formatting
*****************************/

.border{
    /* background formatting */
    position: absolute;
    left: 0vw;
    bottom: 40vh;
    height: 1vh;
    width: 100vw;
    background-color: white;
    z-index: 2;
}

.border.two{
    /* background formatting */
    bottom: -30vh;
}


/*****************************
    Image Formatting
*****************************/
.image{
    position: absolute;
    bottom: -28.84vh;
    height: 68.7vh;
    width: 32vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.image.one{
    background-image: url("/backgrounds/Sofi.jpg");
    left: 0vw;
}

.image.two{
    background-image: url("/backgrounds/UnderBridge.jpg");
    right: 0vw;
}

.image.three{
    background-image: url("/backgrounds/fall_trees.jpg");
    left: 32vw;
    width: 36vw;
}


/*****************************
    Socials Formatting
*****************************/
.logo{
    /* background formatting */
    position: absolute;
    border: none;
    width: 4vw;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    align-items: center;
    transition: transform .2s ease;
}
.logo.linkedIn{
    /* background formatting */
    left: 47vw;
    bottom: -50vh;
    height: 3vw;
    background-image: url("/backgrounds/LinkedIn_logo_initials.jpg");
    background-size: 2vw;
}

.logo.email{
    /* background formatting */
    left: 51vw;
    bottom: -50.8vh;
    height: 3.5vw;
    background-image: url("/backgrounds/gmail_logo.jpg");
    background-size: 2.2vw;
}


/* logo hover effects */
.logo.linkedIn :hover{
    transform: scale(1.1);
}
