/***************************************************
Purpose:
    - provides the styling for the website
    
***************************************************/

body{
    margin: 0;
    width: 100dvw;
    min-height: 150dvh;
    background-color: rgb(49, 39, 39);
    overscroll-behavior: none;
}

pre{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************
    Title Formatting
*****************************/
.initials{
    display: grid;
    grid-template-columns: 100vw;

    position: absolute;
    top: 5vh;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20vh;
    color: white;

    z-index: 3;
}



.name{
    display: grid;
    grid-template-columns: 100vw;

    position: absolute;
    top: 28vh;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    color: white;

    z-index: 3;
}

.subtitle{
    display: grid;
    grid-template-columns: 100vw;

    position: absolute;
    top: 34vh;
    text-align: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    color: white;

    z-index: 3;
}


/*****************************
    Bubble Formatting
*****************************/
/* bubbles */
.bubbles_container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw;
    gap: 15vw;
    padding: 0vh 12.5vw;

    position: absolute;
    top: 60vh;
    align-items: center;

    z-index: 2;
}

.bubble{
    overflow: hidden;

    height: 15vw;
    width: 15vw;

    background-color: white;
    border: solid 0.5vw rgb(49, 39, 39);
    border-radius: 50%;
}


/*****************************
    Menu Formatting
*****************************/
.menu_container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw;
    gap: 15vw;
    padding: 0vh 12.5vw;

    position: absolute;
    top: 60vh;
    align-items: center;

    z-index: 3;    
}

.menu{
    font-size: 80%;
    font-family: 'Times New Roman', Times, serif;

    text-align: center;
}


/*****************************
    Border Formatting
*****************************/

.border{
    /* background formatting */
    position: relative;
    background-color: white;
}


/*****************************
    Image Formatting
*****************************/
.image_container{
    display: grid;
    grid-template-columns: 33vw 34vw 33vw;
    grid-template-rows: 1vh 70vh 1vh;

    position: absolute;
    top: 50vh;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.image.one{
    background-image: url("./backgrounds/Sofi.jpg");
}

.image.two{
    background-image: url("./backgrounds/fall_trees.jpg");
}

.image.three{
    background-image: url("./backgrounds/UnderBridge.jpg");
}




/*****************************
    Socials Formatting
*****************************/
.logo{
    /* background formatting */
    position: absolute;
    border: none;
    width: 4vw;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    align-items: center;
    transition: transform .2s ease;
}
.logo.linkedIn{
    /* background formatting */
    left: 47vw;
    bottom: -50vh;
    height: 3vw;
    background-image: url("./backgrounds/LinkedIn_logo_initials.jpg");
    background-size: 2vw;
}

.logo.email{
    /* background formatting */
    left: 51vw;
    bottom: -50.8vh;
    height: 3.5vw;
    background-image: url("./backgrounds/gmail_logo.jpg");
    background-size: 2.2vw;
}


/* logo hover effects */
.logo.linkedIn :hover{
    transform: scale(1.1);
}
